$color-background: #eee !default;

$color-blog-title: #333 !default;
$color-blog-title-h: #8B8B8B !default;
$color-blog-subtitle: #34495e !default;

$color-archieve-title: #34495e !default;
$color-article-title: #34495e !default;
$color-blog-body: #555 !default;
$color-tag: #3498db !default;

$color-main: #258fb8 !default;
$color-link: #f1c40f !default;
$color-gray01: #333 !default;
$color-gray02: #999 !default;
$color-gray03: #ccc !default;
$color-gray04: #f5f5f5 !default;
$color-gray05: #fff !default;
